body,
h1,
h2,
h3,
p,
a,
li,
ul {
    margin: 0;
    padding: 0;

}

* {
    box-sizing: border-box;
}


::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
    
}
::-webkit-scrollbar-thumb {
    background: #9c9daa;
    border-radius: 8px;


}


body {
    min-height: 600px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;

  
}

@media(max-width: 1024px){
        body{
            min-height: auto;

        }
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #182848, #4b6cb7);
    ;
}


.app {
    background: #fff;
    padding: 2.5rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 16px;
    margin: 0 auto;
}

@keyframes sobe{
    from{
        transform: translateY(-110vh);
        opacity: 1;
      
    }
  
}

.titulo{
    margin-bottom: 1rem;
}

.titulo h1{
        text-align: center;
        color: #313131;
        font-size: 2rem;
}

.titulo p{
    padding-top: .5rem;
    text-align: center;
    font-size: 1rem;
}


.tarefa-wrapper{
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.tarefa-wrapper .saida{
    color: rgb(190, 25, 25);
    font-size: 1rem;
    font-weight: 500;
    display: block;
    padding-bottom: .5rem;
}

.tarefa-item {
    padding: 16px 32px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 8px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #434343;
    justify-content: space-between;
    width: 100%;
    transition: transform .3s ease;

}

.tarefa-item a {
    display: inline-flex;
    justify-content: center;


}


.tarefa-item a ion-icon {
    color: #434343;
    font-size: 18px;
    order: 1;
}


.adicionar {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.5rem 1rem 0 1rem;
}


.inputTarefa {
    padding: 16px 32px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    outline: none;
    border-radius: 8px;
    margin-right: 16px;
    width: 100%;


}


.btnAdd {
    display: inline-flex;
    justify-content: center;
    padding: 16px 32px;
    background-color: #4b6cb7;
    border: none;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 8px;
    cursor: pointer;


}


.vai{
    transform: translateX(-110vw);
}




@media(max-width: 1024px){

    .app{
        padding: 64px 20px;
        width: 90%;
        max-width: 400px;
       
    }

    .app h1{
        font-size: 1.5rem ;
        margin-bottom: 1.5rem;
    }

    .tarefa-wrapper{
        max-height: 7rem;
        max-width: 100%;
        margin: 0 auto 1.5rem auto;
        padding-bottom: 0;
    }

    .tarefa-item{
        margin-bottom: 1rem;
        padding: 8px 16px;
    }

    .adicionar{
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        padding: 0 1rem;
    }
    .inputTarefa {
        margin-right: 0;
    }

    .btnAdd{
        margin-top: 16px;
        width: 100%;
    }
}

.tarefa-item.adicionado{
    animation: adicionou .3s forwards;
}

.tarefa-item.remove{
    animation: removeu .3s forwards;
}

.app.erro{
    animation: erro .3s forwards;
}


@keyframes adicionou {
    from{
        transform: translateX(110vw);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes removeu {
    to{
        transform: translateX(-110vw);
        opacity: 0;
    }
}

@keyframes erro {
    0% {
      -webkit-transform: none;
      transform: none;
    }
  
    15% {
      -webkit-transform: translate3d(-5%, 0, 0);
      transform: translate3d(-5%, 0, 0);
    }
  
    30% {
      -webkit-transform: translate3d(5%, 0, 0);
      transform: translate3d(5%, 0, 0);
    }
  
    45% {
      -webkit-transform: translate3d(-6%, 0, 0);
      transform: translate3d(-6%, 0, 0);
    }
  
    60% {
      -webkit-transform: translate3d(6%, 0, 0);
      transform: translate3d(6%, 0, 0);
    }
  
    85% {
      -webkit-transform: translate3d(-4%, 0, 0);
      transform: translate3d(-4%, 0, 0);
    }
  
    100% {
      -webkit-transform: none;
      transform: none;
    }
  }